.herosectionwidth {
    max-width: 1440px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 80px 100px;
    margin: 0 auto;

}

.herosectionflex {
    /* height: 612px; */
    gap: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


}

.sectiononewidth {
    /* width: 751px; */
    /* height: 452px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
    align-items: flex-start;
    position: relative;
}

.headingfullstop {
    color: rgba(60, 101, 255, 1);
}

.headingwidth {
    /* width: 800px; */
    /* height: 168px; */
    /* max-width: 800px;
    width: 100%; */
    font-weight: 600;
    font-size: 68px;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.5%;
    line-height: 68px;
    margin: 0;
    z-index: 3;
    position: relative;
}

.headingflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.paragraphwidth {
    /* width: 600px;
    height: 64px; */
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    color: rgba(97, 97, 97, 1);
    font-family: "Poppins", sans-serif;
    line-height: 32px;
}

.startedbutton {
    background-color: rgba(36, 51, 66, 1);
    width: 179px;
    height: 60px;
    border-radius: 8px;
    border: none;
    color: rgba(60, 101, 255, 1);
    padding: 18px 36px;
    font-size: 12px;
    font-weight: 700;
}

.learnbutton {
    background-color: rgb(255, 255, 255);
    width: 179px;
    height: 60px;
    border-radius: 8px;
    color: rgba(60, 101, 255, 1);
    padding: 18px 36px;
    font-size: 12px;
    font-weight: 700;
}

.buttonflex {
    display: flex;
    /* width: 422px; */
    justify-content: center;
    gap: 32px;
}

.brandstyling {
    width: 210px;
    height: 80px;
    /* max-width: 231px;
    width: 100%; */
    transform: rotate(-3deg);
    background-color: rgba(60, 101, 255, 1);
    color: white;
    text-align: center;
    position: absolute;
    z-index: -1;
    margin-left: 10px;
}


@media screen and (min-width: 900px) {

    /* Desktop */
    .herosectionwidth {
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .herosectionwidth {
        padding: 80px;
    }

    .herosectionimage {
        max-width: 300px;
        width: 100%;
        height: 390px;
    }

}

@media screen and (max-width: 900px) {

    /* mobile */
    .navbarheight {
        background-color: rgba(245, 250, 255, 1);
    }

    .herosectionwidth {
        padding: 40px 16px;
    }

    .herosectionflex {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 40px;
        /* height: 663px; */
    }

    .herosectionflex {
        margin: 0 auto;
    }


    .sectiononewidth {
        /* width: 361px;
        height: 300px;
        padding: 40px 16px; */
        justify-content: flex-start;
        gap: 30px;
        /* margin-left: auto;
        margin-right: auto;
        position: relative; */
    }

    .headingwidth {
        font-size: 28px;
        line-height: 35px;
        /* margin-left: auto;
        margin-right: auto; */
        /* height: 64px; */
        /* width: 600px; */
    }

    .headingflex {
        /* position: relative; */
        justify-content: flex-start;
    }

    .paragraphwidth {
        /* width: 600px;
        height: 100px; */
        font-size: 16px;
        color: rgba(97, 97, 97, 1);
    }

    .brandstyling {
        max-width: 90px;
        width: 100%;
        height: 40px;
    }




    .startedbutton {
        width: 134px;
        height: 37px;
        border-radius: 0;
        font-size: 16px;
        font-weight: 700;
        padding: 0;
    }

    .learnbutton {
        width: 134px;
        height: 37px;
        border-radius: 0;
        font-size: 16px;
        font-weight: 700;
        padding: 0;
    }

    .buttonflex {
        width: 274px;
        gap: 9px;
    }

    .herosectionimage {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        height: 400px;
    }
}