.casestudywidth {
    max-width: 1440px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 80px 100px;
    margin: 0 auto;
}

.casestudystyling {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4%;
    color: rgba(60, 101, 255, 1);
}

.heading {
    font-weight: 600;
    font-size: 68px;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.5%;
    line-height: 68px;
    margin: 0;
    z-index: 3;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.headingflex {
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-between;
}

.expertisestyling {
    width: 372px;
    height: 80px;
    /* max-width: 231px;
        width: 100%; */
    transform: rotate(-3deg);
    background-color: rgba(60, 101, 255, 1);
    color: white;
    text-align: center;
    position: absolute;
    z-index: -1;
    /* margin-left: 10px; */
}

.fullstop {
    color: rgba(60, 101, 255, 1);
}

.paragraph {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(97, 97, 97, 1);
    max-width: 500px;
    width: 100%;
}

.paragraphflex {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    max-width: 143px;
    width: 100%;
    /* height: 40px; */
    border-radius: 4px;
    padding: 16px 10px;
    background-color: rgba(36, 51, 66, 1);
    color: rgba(60, 101, 255, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4%;
    border: 0;
    text-align: center;
}

.headingparagraphflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 150px; */
}

.gridsection {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1240px;
    width: 100%;
}

.boxes {
    max-width: 310px;
    width: 100%;
    height: 412px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    background-color: rgba(245, 250, 255, 1);
}

.gridheading {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    color: rgba(36, 51, 66, 1);
}

.gridparagraph {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25%;
    color: rgba(97, 97, 97, 1);
}

.gridimg {
    max-width: 310px;
    width: 100%;
    height: 412px;
}

.mobilesection {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.homeflairsection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
}

.homeflaircolour {
    background-color: rgba(239, 239, 239, 1);
    max-width: 500px;
    width: 100%;
    border-radius: 12px;

}

.mobileheading {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0%;
    font-weight: 700;
    color: rgba(36, 51, 66, 1);
}

.mobileparagraph {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.25%;
    color: rgba(97, 97, 97, 1);
}

.mobileimg {
    max-width: 500px;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

@media screen and (min-width: 900px) {
    .mobilesection {
        display: none;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .casestudywidth {
        max-width: 1200px;
        width: 100%;
        padding: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .gridimg {
        max-width: 310px;
        width: 100%;
        height: 412px;
    }

    .heading {
        font-size: 50px;
    }

    .paragraph {
        max-width: 300px;
        width: 100%;
    }

    .paragraphflex {
        height: 200px;
    }

    .headingparagraphflex {
        max-width: 1240px;
        width: 100%;
    }

    .expertisestyling {
        width: 250px;
    }

    .mobilesection {
        display: none;
    }


}

@media screen and (max-width: 900px) {
    .gridsection {
        display: none;
    }

    .casestudywidth {
        padding: 40px 16px;
    }

    .heading {
        font-size: 28px;
        font-weight: 600;
        line-height: 100%;

    }

    .expertisestyling {
        width: 150px;
        height: 28px;
        text-align: center;
    }

    .headingparagraphflex {
        flex-direction: column;
        height: 263px;
        justify-content: space-between;
    }

    .headingflex {
        height: 82px;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        max-width: 188px;
        width: 100%;
        height: 35px;
        border-radius: 0;
        padding: 15px 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 4.37px;
        letter-spacing: 0.4%;
    }
}