.clientwidth {
    /* max-width: 1440px;
    width: 100%; */
    padding: 80px 110px;
    margin: 0 auto;
    background-color: rgba(245, 250, 255, 1);
}

.clientstyling {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4%;
    color: rgba(60, 101, 255, 1);
}

.heading {
    font-weight: 600;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
    letter-spacing: -0.5%;
    line-height: 68px;

}

.headingflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card {
    max-width: 950px;
    width: 100%;
    height: 381px;
    padding: 34px 40px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    max-width: 695px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.quote {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: rgba(97, 97, 97, 1);
}

.name {
    color: rgba(60, 101, 255, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    font-family: "Poppins", sans-serif;
}

.role {
    font-family: "Poppins", sans-serif;
    color: rgba(97, 97, 97, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {}

@media screen and (max-width: 900px) {
    .card {
        padding: 9px 10px;
        height: auto;
    }

    .quote {
        max-width: 271px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .clientwidth {
        padding: 40px 16px;
    }

    .clientstyling {
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0.4%;
    }

    .heading {
        font-weight: 600;
        font-size: 28px;
        line-height: 18.56px;
        letter-spacing: -0.5%;
    }

    .headingflex {
        justify-content: center;
        align-items: flex-end;
        gap: 5px;
    }
}