.sectioncolour {
    background-color: rgba(245, 250, 255, 1);
    padding: 100px 110px;
}

.sectionwidth {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
}

.headingflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes {
    padding: 65px 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    border-radius: 20px;
    background-color: white;
    max-width: 380px;
    width: 100%;
}

.boxesflex {
    display: flex;
    /* max-width: 1200px;
    width: 100%; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 43px;
    margin-top: 50px;
}

.button {
    width: 100px;
    height: 39px;
    border-radius: 8px;
    color: white;
    background-color: rgba(60, 101, 255, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 0;
}

.boxheading {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.boxparagraph {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-size: 24px;
    line-height: 32px;
    color: rgba(97, 97, 97, 1);
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .sectioncolour {
        padding: 80px;
    }
}

@media screen and (max-width: 900px) {
    .sectioncolour {
        padding: 40px 16px;
    }

    .boxes {
        max-width: 500px;
        width: 100%;
    }

    .heading {
        font-size: 28px;
        line-height: 18.56px;
        text-align: center;
    }
}