.ourteamcolour {
    padding: 100px;
    background-color: rgba(245, 250, 255, 1);
    margin: 0 auto;
}

.ourteamwidth {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
}

.boxheading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 19px;
}

.boxline {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(139, 139, 139, 1);
}

.box {
    max-width: 500px;
    width: 100%;
    height: 253px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.headingflex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin: 0 auto;
}

.boxesflex {
    display: flex;
    justify-content: center;
    gap: 80px;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .ourteamcolour {
        padding: 80px;
    }

    .boxesflex {
        flex-wrap: wrap;
    }

    .box {
        max-width: 300px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .ourteamcolour {
        padding: 40px 16px;
    }

    .boxesflex {
        flex-wrap: wrap;
        gap: 10px;
    }

    .box {
        max-width: 170px;
        width: 100%;
        height: auto;
    }

    .heading {
        font-weight: 600;
        font-size: 28px;
    }
}