.oursection {
    /* max-width: 1440px;
    width: 100%; */
    margin: 0 auto;
    padding: 80px 100px;
    background-color: rgba(245, 250, 255, 1);
}

.width {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.oursectionstyling {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.4%;
    color: rgba(60, 101, 255, 1);
}

.heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -0.5%;
}

.fullstop {
    color: rgba(60, 101, 255, 1);
}

.ourservicesflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(97, 97, 97, 1);
}

.mainflex {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-direction: column;
    align-items: center;
}

.boxes {
    width: 386px;
    height: 325px;
    background-color: rgba(60, 101, 255, 1);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.boxheading {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 1);

}

.boxheadingflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;

}

.boxparagraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.sectionflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width: 900px) {

    /* Desktop */
    .oursection {
        margin-left: auto;
        margin-right: auto;
    }

    .mobileimg {
        display: none;
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .oursection {
        padding: 80px;
    }

    .herosectionimage {
        max-width: 400px;
        width: 100%;
        /* height: 390px; */
    }

    .ourservicesflex {
        align-items: flex-start;
        gap: 5px;
    }

    .oursectionstyling {
        font-weight: 700;
        font-size: 12px;
        line-height: 4.37px;
        letter-spacing: 0.4%;
    }

    .heading {
        font-weight: 600;
        font-size: 28px;
        line-height: 25px;
        letter-spacing: -0.5%;
    }

    .mainflex {
        align-items: flex-start;
        gap: 20px;
    }

    .mobileimg {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .oursection {
        padding: 40px 16px;
    }

    .herosectionimage {
        max-width: 400px;
        width: 100%;
        /* height: 390px; */
    }

    .ourservicesflex {
        align-items: flex-start;
        gap: 5px;
    }

    .oursectionstyling {
        font-weight: 700;
        font-size: 12px;
        line-height: 4.37px;
        letter-spacing: 0.4%;
    }

    .heading {
        font-weight: 600;
        font-size: 28px;
        line-height: 25px;
        letter-spacing: -0.5%;
    }

    .mainflex {
        align-items: flex-start;
        gap: 20px;
    }

    .boxes {
        background-color: transparent;
        max-width: 350px;
        height: 100px;
    }

    .boxheading {
        color: rgba(0, 0, 0, 1);
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0%;
    }

    .boxparagraph {
        color: rgba(97, 97, 97, 1);
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0.25%;
    }

    .logo {
        width: 20px;
        height: 20px;
        background-color: rgba(60, 101, 255, 1);
        border-radius: 3px;
    }

    .boxheadingflex {
        flex-direction: row;
        gap: 6px;
        justify-content: center;
    }

    .sectionflex {
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        padding: 25px 0;
    }

    .mobileimg {
        max-width: 450px;
        width: 100%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}