.officialwidth {
    max-width: 1440px;
    width: 100%;
    padding: 80px 100px;
    margin: 0 auto;

}

.client {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgba(60, 101, 255, 1);
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.4%;
}

.heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -0.5%;
}

.fullstop {
    color: rgba(60, 101, 255, 1);
    border-radius: 50%;
}

.headingflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.logoflex {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .officialwidth {
        padding: 80px;
    }

    .logoflex {
        flex-wrap: wrap;
        width: 600px;
        justify-content: space-between;
        gap: 50px;
        margin: 0 auto;
        margin-top: 50px;
    }
}


@media screen and (max-width: 900px) {
    .officialwidth {
        padding: 40px 16px;
    }

    .client {
        font-weight: 700;
        font-size: 12px;
        line-height: 100%;
    }

    .heading {
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
    }

    .logoflex {
        flex-wrap: wrap;
        max-width: 500px;
        width: 100%;
        justify-content: center;
        gap: 20px;
        margin: 0 auto;
        margin-top: 30px;
    }
}